body {
  margin: 0;
  padding: 0;
  background-image: url("media/bgd-cookies.jpg");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  font-family: Georgia;
  font-size: large;
}

#cookie {
  display: block;
  margin: 60px auto;
  height: 330px;
  cursor: pointer;
  animation: rotate 4s linear infinite; /*de rotit mereu si setez mai jos sa Pulse doar la click*/
  transition: transform 0.1s ease;
}

#cookie:hover {
  animation: Pulse 3s linear infinite; /*doar pulse @.@ */
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes Pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

#menu {
  text-align: center;
  margin: 10px auto 30px;
  width: 100%;
}

#toggle-sound {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 8px;
  border: none;
  background-color: #5caa7c;
  cursor: pointer;
}

#toggle-sound:hover {
  background-color: rgba(228, 211, 165, 0.664);
}

#shop {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 80px;
  padding: 80px;
  max-width: 1200px;
  margin: 60px auto;
  background-color: rgba(230, 164, 164, 0.644);
  border-radius: 12px;
  overflow: hidden;
  z-index: 1;
}

#shop::before {
  content: "";
  position: absolute;
  top: -3px;
  left: -3px;
  right: -3px;
  bottom: -3px;
  background: linear-gradient(
    270deg,
    rgba(138, 102, 36, 0.555),
    rgba(255, 153, 0, 0.233),
    rgba(37, 173, 37, 0.39),
    rgba(90, 117, 134, 0.342),
    rgba(75, 29, 47, 0.664)
  );
  background-size: 1000% 100%;
  animation: waveBorder 4s ease infinite;
  z-index: -1;
  border-radius: 18px;
  filter: blur(164px);
}

@keyframes waveBorder {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.upgrade {
  position: relative;
  background-color: rgba(83, 92, 95, 0.712);
  border: 3px solid #03502c;
  border-radius: 10px;
  padding: 35px;
  box-shadow: 0 6px 8px rgba(131, 221, 150, 0.966);
  text-align: center;
  overflow: hidden;
  z-index: 1;
}

.upgrade::before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  border: 4px dashed #4caf50;
  animation: rotateBorder 6s linear infinite;
  z-index: -1;
}

@keyframes rotateBorder {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.upgrade button {
  background-color: #1d641e;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(131, 221, 150, 0.966);
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.upgrade button:hover {
  background-color: #0f7915;
  transform: scale(1.05);
}

.upgrade button:active {
  background-color: #158d1b;
  transform: scale(0.95);
  box-shadow: 0 6px 8px rgba(131, 221, 150, 0.966);
}
